.Credit {
  text-align: center;
  height: 100%;
  padding: 0;
  /*background-color: #f8f8f8;*/
  position: relative;
}

.Credit-current {
  position: absolute;
  font-size: 10em;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Credit-last {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.Credit-action {
  position: absolute;
  bottom: 100px;
  width: 100%;
  font-size: 4em;
  opacity: 0;
}

.Credit-cost {
  color: red;
}

.Credit-win {
  color: green;
}


.Credit-action-enter {
  opacity: 1;
  bottom: 0;
}

.Credit-action-enter.Credit-action-enter-active {
  opacity: 0.01;
  bottom: 100px;
  transition: all 1000ms ease-in;
}

.Credit-current-enter {
  opacity: 0.01;
}

.Credit-current-enter.Credit-current-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.Credit-current-leave {
  opacity: 1;
}

.Credit-current-leave.Credit-current-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}